{% extends "ISSBlogBundle::layout.html.twig" %}



{% block content %}
    <article class="post">
        <header>
            <div class="date">
                <time datetime="{{ post.created|date('c') }}">{{ post.created|date('l, F j, Y') }}</time>
                <h2>{{ post.title }}</h2>
            </div>
        </header>
        <img src="{{ asset(['bundles/issblog/images/', post.image]|join) }}" alt="{{ post.title }} image not found" class="large" />
        <div>
            <p>{{ post.body }}</p>
        </div>
    </article>
{% endblock %}